/* You can add global styles to this file, and also import other style files */

html,body{
    height:100%;
    background-color: var(--surface-b);
    font-family: Arial,sans-serif;
}
body .p-component{
    font-family: Arial,sans-serif;
}
html{
    font-size: 14px;
}
body{
    margin: 0;
}
